@import '../../../styles/constants';

.LevelCard{
    &-container {
        min-width: 8rem;
        min-height: 5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: white;
        border: rgb(255, 255, 255, 0.5) 3px solid;
        border-radius: 10px;
    }
    &-locked{
        background-color: lightgray!important;
    }

    &-button {
        padding: 0!important;
        margin-right: 1rem!important;
        border-radius: 10px!important;
    }

    &-text {
        font-weight: 800!important;
    }
}

.overlap{
    position: absolute;
    width: 7.8rem;
    background-color:white;
    color: rgba(74,20,140,1);
    font-weight: 800!important;
}