@import '../../../styles/constants';

.LevelCard{
    &-container{
        min-width: 100px;
        min-height: 100px;
        border-radius: 20px!important;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-style: solid;
        border-width: 1px;
    }
    &-locked{
        background-color: lightgray!important;
    }
}

.overlap{
    position:absolute;
    width: 100px;
    background-color:white;
    border-style: solid;
    border-width: 1px;
}