@import '../../../styles/constants';

.CommandSelector {
  display: flex;

  &-container {
    display: flex;
  }

  &-column {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    margin: 0 0 0 0.5rem;
    min-width: 7rem;
    height: (($cell-size + ($cell-margin * 2))  * 9) + 5rem;
    overflow-y: scroll;
    scroll-snap-type: y proximity;
    border: rgb(255, 255, 255, 0.5) 3px solid;
    border-radius: 6px;
    background-color: rgb(255, 255, 255, 0.2);

    &-title {
      color: white;
      font-weight: 800;
      margin-bottom: 0.8rem;
    }
  }

  &-command {
    font-size: 0.7rem;
    font-weight: 800;
    padding: 0.2rem 0.5rem;
    color: #212121;
    background-color: #ede7f6;
    margin-bottom: 0.4rem;
    border-radius: 4px;
    min-height: 0.8rem;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    min-height: 1.2rem;
  }

  &-command-selectable {
    @extend .CommandSelector-command;
    cursor: pointer;
  }

  &-operation-selectable {
    @extend .CommandSelector-command;
    cursor: pointer;
    margin: 0;
    text-align: initial;
    padding: 0.1rem 0.5rem;

    &-container {
      display: flex;
      flex-direction: column;
    }

    &-child {
      @extend .CommandSelector-operation-selectable;
      background-color: #ffffff;
      margin: 0.2rem 0 0.2rem 0;
      margin-left: 0.3rem;
      min-height: 1rem;

      &--focus {
        @extend .CommandSelector-operation-selectable-child;
        border: solid 1px #000;
        max-height: 1rem;
        line-height: 0.6rem;
      }
    }
  }
}
