@import '../../../styles/constants';

.Board {
  width: $board-size;
  height: $board-size;
  display: inline-block;
  font-size: 0rem;
  background-color: $gray-light;

  &-cell {
    width: $cell-size;
    height: $cell-size;
    margin: $cell-margin;

    &-empty {
      @extend .Board-cell;
      background-color: $cell-empty;
      display: inline-block;
    }

    &-player {
      @extend .Board-cell;
      background-color: $cell-player;
      display: inline-block;
    }

    &-wall {
      @extend .Board-cell;
      background-color: $cell-wall;
      display: inline-block;
    }

    &-goal {
      @extend .Board-cell;
      background-color: $cell-goal;
      display: inline-block;
    }
  }
}

.Board-container {
  background-color: $gray-light;
  width: 100%;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}