// colors
$cell-empty: #eceff1;
$cell-player: #7e57c2;
$cell-wall: #b0bec5;
$cell-goal: #66bb6a;
$background-gray: gray;
$background-white: #FFFFFF;
$gray-light: #cecece;
$console-background: #2b2b2b;
$yellow-text: #fff700;
$green-text: #79cc79;

// sizes
$cell-size: 2.5rem;
$cell-margin: 0.1rem;
$board-size: (($cell-size + ($cell-margin * 2))  * 9); // Board 5x5
