// colors
$cell-white: #FFFFFF;
$cell-green: green;
$background-gray: gray;
$background-white: #FFFFFF;
$gray-light: #cecece;
$console-background: #2b2b2b;
$yellow-text: #fff700;

// sizes
$cell-size: 2.5rem;
$cell-margin: 0.1rem;
$board-size: (($cell-size + ($cell-margin * 2))  * 5); // Board 5x5
