* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  background: rgb(186,104,200);
  background: radial-gradient(circle, rgba(186,104,200,1) 0%, rgba(74,20,140,1) 100%);
}

.App {
  text-align: center;
  background-color: transparent;
  
  &-container {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &-link{
    background-color: #7e57c2!important;
    border-style: solid!important;
    color: white!important;
    font-weight: 700!important;
    margin-bottom: 1rem!important;
    font-size: 1rem!important;
  }

  &-rights{
    color:white;
    font-weight: 600;
    padding-bottom: .5rem;
    font-size: .9rem;
    display:flex;
    justify-content: center;
  }
}

.MuiButton-contained.Mui-disabled {
  background-color: rgba(0, 0, 0, 0.12)!important;
}

.white-text {
  color: white;
}

.generic-padding-bottom {
  padding-bottom: 1rem;
}

.no-margin-right {
  margin-right: 0;
}

.Generic-title {
  color: white!important;
  margin-bottom: 1.2rem!important;
  font-weight: 600!important;
  font-size: 1.8rem!important;
  text-align: justify;
}

.Container {
  display: inline-block;
  margin: auto;
  width: 100%;
  max-width: 1000px;
}
