@import '../../styles/constants';

.Home{
    &-content{
        color: black;
        font-weight: 800;
    }

    &-link-content{
        display:flex;
        flex-direction: column;
    }

    &-link{
        color: #282c34;
        background-color: #fff;
        border-style: solid;
        border-width: 1px;
        text-decoration: none;
        font-size: 20px;
        padding: 12px 56px;
        font-weight: 700;
        margin-bottom: 20px;
    }
}

