@import '../../styles/constants';

.Ranking {
    &-content{
        color: black;
    }

    &-table{
        padding: 20px;
        margin: 10px;
        height: 250px;
        border-style: solid;
        border-radius: 0.5em;
        border-color: darkgrey;
    }

    &-top{
        font-weight: bold;
    }
}
