@import '../../styles/constants';

.Game {
  &-container {
    padding: 1rem;
    background-color: $background-gray;
    display: flex;
  }

  &-container-board {
    padding: 1rem;
    background-color: $background-gray;
    display: flex;
    flex-direction: column;
  }
}
