@import '../../../styles/constants';

.Nav{
    &-content{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    &-link{
       border-style: none;
       font-weight: 800;
       background-color: transparent;
       font-size: large;        
       color: white;
       text-decoration: none;
       padding: 16px 0;
       cursor:pointer;
    }

}

