@import '../../styles/constants';

.Admin{
    &-content{
        width: 900px;
        color: black;
        font-weight: 800;
    }

    &-link-content{
        display:flex;
        flex-direction: column;
    }
}

.table{
    width: 100%;
}

.actions{
    display: flex;
    justify-content: end;
}
