@import '../../styles/constants';

.Admin {
  &-link-content{
    display: flex;
    flex-direction: column;
  }
}

.table {
  width: 100%;
}

.actions {
  display: flex;
  justify-content: flex-end;
}
